/*===================================================*/
/* Vars colors
/*===================================================*/
/*===================================================*/
/* Nav and MISC
/*===================================================*/
html {
  color: #263238;
}
html body {
  color: #263238;
}

nav {
  /*background-color: $blue;*/
}
nav .brand-logo {
  font-size: 1.75rem;
}
nav .dropdown-content {
  min-width: 125px !important;
}

.is-completed {
  text-decoration: line-through;
}

.form-overlay {
  position: fixed;
  width: 100%;
  width: 100vw;
  background-color: rgba(55, 55, 55, 0.9);
  z-index: 1052;
  height: 100vh;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
}
.form-overlay.active {
  display: flex;
}

/*===================================================*/
/* Alerts
/*===================================================*/
.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

@media (min-width: 993px) {
  .container {
    width: 80%;
  }
}

/*===================================================*/
/* Decision Buttons GRIDS
/*===================================================*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.grid-container a {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
  padding: 20px 12.5px;
  flex-flow: column;
  /**/
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
}
@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 680px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*===================================================*/
/* Buttons
/*===================================================*/
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

/*===================================================*/
/* Titles
/*===================================================*/
.teal-title {
  color: white;
  padding: 20px 15px;
}

/*===================================================*/
/* Login Part
/*===================================================*/
#form-login-container {
  margin: 30px 0;
  /*border: 1.3px solid $primary;*/
  padding: 25px 10px;
  border-radius: 13px;
}
#form-login-container span {
  font-size: 1.55rem;
  color: #263238;
  display: block;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
}

/*===================================================*/
/* Users Parts
/*===================================================*/
#users-create form {
  margin: 10px 0;
  border-radius: 13px;
}

#users-show .collection-item b {
  display: block;
  margin: 5px 0px 10px 0px;
}
#users-show .collection-item span {
  margin: 0 10px;
  font-weight: 700;
}

/*===================================================*/
/* Reservations Form
/*===================================================*/
#reservations-form legend {
  text-transform: uppercase;
  font-weight: bold;
  color: #3f51b5;
  letter-spacing: 0px;
}
#reservations-form .datepicker-date-display {
  background-color: #3f51b5;
}
#reservations-form .datepicker-table td.is-selected {
  background-color: #3f51b5;
}
#reservations-form .datepicker-table td.is-today {
  /*color: $blue;*/
}

/*===================================================*/
/* Reservations
/*===================================================*/
#reservations-tour-container .section-view {
  margin: 15px 0;
}

.table-content i {
  padding: 5px;
}

/*===================================================*/
/* Reservations Table
/*===================================================*/
@media screen and (max-width: 600px) {
  .valign-wrapper {
    display: block !important;
  }

  table.table-content {
    border: 0;
  }

  table.table-content caption {
    font-size: 1.3em;
  }

  table.table-content thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.table-content tr {
    border-bottom: 3px solid #ddd !important;
    display: block;
    margin-bottom: 0.625em;
  }

  table.table-content td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }

  table.table-content td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table.table-content td:last-child {
    border-bottom: 0;
  }
}
/*===================================================*/
/* Select Tour Date Part
/*===================================================*/
a.form-tour-a {
  display: block;
  margin-bottom: 10px;
}
a.form-tour-a form {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*===================================================*/
/* Paginations
/*===================================================*/
.pagination {
  text-align: center;
}
.pagination li {
  vertical-align: initial;
}
.pagination .page-item.active {
  color: #FFF;
  background-color: #3f51b5;
}
.pagination .page-link {
  padding: 10px;
}

/*===================================================*/
/* Seats CSS
/*===================================================*/
.seats i div {
  color: #000;
  font-size: 1rem;
}
.seats span {
  display: inline-block;
  min-width: 25px;
}

.taken {
  color: #000000;
  cursor: default !important;
}

.available {
  color: #ebebeb;
}

.selection {
  color: green;
}

.fa-3x {
  font-size: 2.5em;
  cursor: pointer;
}

/*===================================================*/
/* Search Form
/*===================================================*/
.search-box {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .search-box {
    display: block;
  }
  .search-box .input-field {
    margin: 0;
  }
}

#app {
  margin-bottom: 100px;
}

footer {
  display: block;
  width: 100%;
  bottom: 0;
  position: fixed;
  text-align: right;
  padding: 10px 15px;
  font-style: italic;
  font-weight: 500;
  background-color: #eee;
  z-index: 1;
}

/*===================================================*/
/* Search Form
/*===================================================*/
.reservations-types {
  text-align: center;
  padding: 15px 0;
}
.reservations-types i {
  margin: 0 5px;
}

/*===================================================*/
/* Custom All Over Materialize
/*===================================================*/
.collection-header {
  color: white;
  background-color: #0D47A1 !important;
}

.modal.bottom-sheet {
  max-height: 100%;
}

.collection-item a {
  /*margin-left: 10px;*/
}
.collection-item a i {
  margin-right: 10px;
  color: #000;
  transition: all 150ms ease-out;
}
.collection-item a i:hover {
  color: #3f51b5;
}

.timepicker-digital-display {
  background-color: #3f51b5;
}

/*===================================================*/
/* Custom Forms Materialize
/*===================================================*/
form legend {
  font-size: 2rem;
  text-align: center;
  margin: 15px 0;
  width: 100%;
  padding: 25px;
}
form legend.blue {
  color: white;
}
form label {
  color: #263238;
}

textarea.materialize-textarea {
  min-height: 6rem;
}

.input-field > label {
  color: #263238;
  font-size: 1.1rem;
}

.input-field input[type=text]:focus + label {
  color: #3f51b5 !important;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #3f51b5;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3f51b5;
  -webkit-box-shadow: 0 1px 0 0 #3f51b5;
  box-shadow: 0 1px 0 0 #3f51b5;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border-top: 1px solid #ababab;
  border-right: 1px solid #ababab;
  margin-top: 10px;
  border-left: 1px solid #ababab;
  padding-left: 5px;
  border-radius: 3px;
}

input[type=text]:not(.browser-default):disabled {
  background-color: rgba(239, 239, 239, 0.3);
  border-color: rgba(118, 118, 118, 0.3);
}

.selects-container input.select-dropdown.dropdown-trigger {
  border: none;
}

/*# sourceMappingURL=style.css.map */
